/* src/components/example-5-css-modules/button.module.css */

.btn {
    background-color: #ffa500;
    border-radius: 8px;
    color: white;
    font-size: 24pt;
    padding: 15px 50px;
    width: 300px;
}